{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Input Barang</title>
<style>
    body,
		html {
			margin: 0;
			padding: 0 2rem;
			height: 100%;
		}
    .login_btn {
			width: 20%;
			background: #25cf2e !important;
			color: white !important;
		}
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0;
    }
    .title, .description{
        width: 30%;
    }


</style>
{% endblock meta %}

{% block content %}
<br>
<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="itemsTitle">Title</label>
        <input type="text" class="form-control title" id="itemsTitle">
    </div>

    <div class="form-group">
        <label for="itemsPicture">Input items picture</label>
        <br>
        {{form.items_pic}}
    </div>

    <div class="form-group">
        <label for="itemsDescription"> Description</label>
        <textarea class="form-control description" id="itemsDescription" rows="3"></textarea>
    </div>

    <div class="d-flex login_container">
        <input class="btn login_btn" type="submit" value="Submit">
    </div>
</form>


{% endblock content %}