{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

    <div class="content">
        <div class="post-content">
            <form action="" id="items-name">
                <h4>Name</h4>
                <input type="text" name="name">
            </form>
            <br>
            <form action="" id="items-desc">
                <h4>Description</h4>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </form>
            <br>
            <form action="" id="items-image">
                <h4>Image</h4>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock content %}